body {
    font-family: Arial, sans-serif;
    background-color: #ff007f; /* Color rosa fuerte */
    color: #fff; /* Texto blanco */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #ff007f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffb3e6; /* Rosa claro al pasar el mouse */
}

#mensaje {
    margin-top: 20px;
    font-size: 18px;
}

#animacion {
    margin-top: 20px;
}
